# -------------------------------
# Python temporary files and build artifacts
# -------------------------------

# Build directories
build/
dist/
*.egg-info/
.eggs/
.coverage

# Compiled files
__pycache__/
*.py[cod]
*$py.class

# Executable installation packages
*.egg
*.whl

# Local development environments
.venv/
env/
venv/

# IDE configuration files
.vscode/
.idea/

.DS_Store